@model IEnumerable<Alternyx.Models.Idea>

<div class="row">
    <div class="col-md-6">
        <h2>Популярные идеи</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/ideas/create" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Добавить новую идею...</a>
        }
        <br />
        <br />
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="alert alert-warning">
                Только авторизированые пользователи могут создавать и поддерживать идеи.
                <a asp-controller="Account" asp-action="Login">Войти</a>
            </div>
        }

        <ul class="list-group">
            @foreach (var idea in Model)
            {
                <li class="list-group-item">
                    <input type="hidden" id="ideaId" name="ideaId" value="@idea.Id" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        var votesUp = new List<int>();
                        var votesDown = new List<int>();
                        if (ViewBag.VotesUp != null && ViewBag.VotesDown != null)
                        {
                            votesUp = (List<int>)ViewBag.VotesUp;
                            votesDown = (List<int>)ViewBag.VotesDown;
                        }
                        <div style="float:right">
                            <a id="voteUp" class="btn btn-xs btn-success" title="поддержать" @((votesUp.Contains(idea.Id)) ? "disabled='true'" : "")>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </a>
                            <a id="voteDown" class="btn btn-xs btn-danger" title="поддержать" @((votesDown.Contains(idea.Id)) ? "disabled='true'" : "")>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            </a>
                        </div>
                        <div style="float:right">&nbsp;</div>
                        <div class="badge">
                            <div id="ideaValue">@idea.Value</div>
                        </div>
                    }

                    <b>@idea.Name</b>
                    <p>@idea.Description</p>
                    <span style="float: right;color: grey"> @idea.Author.UserName </span>
                    <p><a href="/Ideas/Details?id=@idea.Id">Открыть</a></p>
                </li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/ideas/create" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Добавить новую идею...</a>
        }

        @*<br />
            <a href="/home/messages">Обсудить в чате</a>*@
    </div>

    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <h2>Реализованные идеи</h2>
        <ul class="list-group">
            <li class="list-group-item">Пока нет реализованых идей</li>
        </ul>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#voteUp", function () {
                if (!$(this).prop("disabled")) {
                    var element = $(this).parent().parent().find("#ideaValue");
                    var ideaIdElement = $(this).parent().parent().find("#ideaId");
                    var ideaId = parseInt(ideaIdElement.val());

                    $.post("/votes/voteup?ideaid=" + ideaId, function (data) {
                        element.text(data);
                    });

                    $(this).prop("disabled", true);
                    var another = $(this).parent().find("#voteDown");
                    another.removeAttr("disabled");
                }
            });

            $(document).on("click", "#voteDown", function () {
                if (!$(this).prop("disabled")) {
                    var element = $(this).parent().parent().find("#ideaValue");
                    var ideaIdElement = $(this).parent().parent().find("#ideaId");
                    var ideaId = parseInt(ideaIdElement.val());

                    $.post("/votes/votedown?ideaid=" + ideaId, function (data) {
                        element.text(data);
                    });

                    $(this).prop("disabled", true);
                    var another = $(this).parent().find("#voteUp");
                    another.removeAttr("disabled");
                }
            });
        });
    </script>
}